<html>
<body>
    <%= image_tag "owl.jpg", class:"img_bg_home" %>
    <h2 class="titre_position">Bienvenue sur la nouvelle solution d'achat automatique sur Internet !</h2>
    <h2 class="intrigue">Waouh, ça a l'air cool ! Mais pourquoi devrais-je l'utiliser et comment ça fonctionne ?</h2>
    <div class="mini_container-group">
        <div class="flex_reason_why">
            <div class="mini_container1">
                <h3>Maîtriser votre budget</h3>
            </div>
            <h4 class="text_why">Vous décidez du prix auquel vous souhaitez<br>
            acheter le produit ciblé.<br>
            <br>
            Exemple :<br>
            Prix vendeur : 80,00€<br>
            Prix souhaité : 65,00€
            </h4>
        </div>
        <div class="flex_reason_why">
            <div class="mini_container2">
                <h3>Fixez une alerte de paiement</h3>
            </div>
            <h4 class="text_why">En reprenant l’exemple précédent, vous
            validez votre demande via un système appelé
            "Strigowl” au prix annoncé.<br> Si le vendeur
            baisse son prix, correspondant à celui souhaité par vous,<br>
            l’achat se réalise automatiquement sans
            repasser par une procédure de paiement classique.

            C’est le côté novateur apporté par Strigowl !</h4>
        </div>
        <div class="flex_reason_why">
            <div class="mini_container3">
                <h3>Ne ratez plus les bonnes affaires</h3>
            </div>
            <h4 class="text_why">Aujourd’hui, nous recevons uniquement des
            alertes quand le prix baisse.<br>Nous n’avons
            pas forcément le temps de retourner sur le
            site pour effectuer l’achat !<br> Soit il y a un risque de rater une
            bonne affaire pour un souci de timing. C'est bête, non ??
            </h4>
        </div>
    </div>
</body>
</html>
