<body>
    <div class="container_search">
        <%= image_tag "eyeowl.jpg", class:"img_search" %>
        <div class="search_part">
            <div class="find_product">
                <h1>Trouver votre produit</h1>
            </div>
            <div class="input_find">
                <input type="text" class="input_search">
                <button class="go">GO !</button>
            </div>
        </div>
    </div>
</body>